n8n-workflows/MIO-Report-Generator-v3-NoCredentials.json
{
  "name": "MIO-Report-Generator-v3-NoCredentials",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mio-report-v3",
        "authentication": "none",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "mio-report-v3"
    },
    {
      "parameters": {
        "jsCode": "// Extract user_ids directly from webhook payload\nconst body = $input.item.json.body;\nconst userIds = body.target_config?.user_ids || [];\nconst reportType = body.report_type || 'pattern_analysis';\nconst userName = body.user_name || 'User';\n\n// Return each user_id as a separate item for the loop\nreturn userIds.map(userId => ({\n  json: {\n    user_id: userId,\n    report_type: reportType,\n    user_name: userName,\n    triggered_by: body.triggered_by || 'manual'\n  }\n}));"
      },
      "id": "extract-users",
      "name": "Extract User IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop-users",
      "name": "Loop: For Each User",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://hpyodaugrkctagkrfofj.supabase.co/rest/v1/user_profiles?id=eq.{{ $json.user_id }}&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhweW9kYXVncmtjdGFna3Jmb2ZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODc4NjYyMiwiZXhwIjoyMDc0MzYyNjIyfQ.wRAsxPF9-mnl_O6nfK_9yog5IopYN42-bUd1ymLtVBQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhweW9kYXVncmtjdGFna3Jmb2ZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODc4NjYyMiwiZXhwIjoyMDc0MzYyNjIyfQ.wRAsxPF9-mnl_O6nfK_9yog5IopYN42-bUd1ymLtVBQ"
            }
          ]
        },
        "options": {}
      },
      "id": "load-user-profile",
      "name": "Load User Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://hpyodaugrkctagkrfofj.supabase.co/rest/v1/daily_practices?user_id=eq.{{ $('Loop: For Each User').item.json.user_id }}&order=practice_date.desc&limit=30&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhweW9kYXVncmtjdGFna3Jmb2ZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODc4NjYyMiwiZXhwIjoyMDc0MzYyNjIyfQ.wRAsxPF9-mnl_O6nfK_9yog5IopYN42-bUd1ymLtVBQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhweW9kYXVncmtjdGFna3Jmb2ZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODc4NjYyMiwiZXhwIjoyMDc0MzYyNjIyfQ.wRAsxPF9-mnl_O6nfK_9yog5IopYN42-bUd1ymLtVBQ"
            }
          ]
        },
        "options": {}
      },
      "id": "load-practices",
      "name": "Load Daily Practices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://hpyodaugrkctagkrfofj.supabase.co/rest/v1/practice_streaks?user_id=eq.{{ $('Loop: For Each User').item.json.user_id }}&select=*",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhweW9kYXVncmtjdGFna3Jmb2ZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODc4NjYyMiwiZXhwIjoyMDc0MzYyNjIyfQ.wRAsxPF9-mnl_O6nfK_9yog5IopYN42-bUd1ymLtVBQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhweW9kYXVncmtjdGFna3Jmb2ZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODc4NjYyMiwiZXhwIjoyMDc0MzYyNjIyfQ.wRAsxPF9-mnl_O6nfK_9yog5IopYN42-bUd1ymLtVBQ"
            }
          ]
        },
        "options": {}
      },
      "id": "load-streaks",
      "name": "Load Practice Streaks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 400]
    },
    {
      "parameters": {
        "jsCode": "// Combine all user data for Claude\nconst loopData = $('Loop: For Each User').item.json;\nconst profileArr = $('Load User Profile').all().map(i => i.json);\nconst practicesArr = $('Load Daily Practices').all().map(i => i.json);\nconst streaksArr = $('Load Practice Streaks').all().map(i => i.json);\n\n// Flatten arrays if they contain arrays\nconst profile = Array.isArray(profileArr[0]) ? profileArr[0] : profileArr;\nconst practices = Array.isArray(practicesArr[0]) ? practicesArr[0] : practicesArr;\nconst streaks = Array.isArray(streaksArr[0]) ? streaksArr[0] : streaksArr;\n\n// Calculate metrics\nconst completedPractices = practices.filter(p => p.completed);\nconst completionRate = practices.length > 0 ? completedPractices.length / practices.length : 0;\nconst currentStreak = streaks[0]?.current_streak || 0;\nconst longestStreak = streaks[0]?.longest_streak || 0;\n\nreturn {\n  json: {\n    user_id: loopData.user_id,\n    user_name: loopData.user_name || profile[0]?.full_name || 'User',\n    report_type: loopData.report_type,\n    profile: profile[0] || {},\n    practices: practices,\n    streaks: streaks[0] || {},\n    metrics: {\n      completion_rate: completionRate,\n      current_streak: currentStreak,\n      longest_streak: longestStreak,\n      total_practices: practices.length,\n      completed_practices: completedPractices.length\n    }\n  }\n};"
      },
      "id": "combine-data",
      "name": "Combine User Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "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"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are MIO - the Mind Insurance Oracle. A forensic behavioral psychologist analyzing user data to generate personalized insights.\\n\\n## USER DATA:\\n\\n### Profile:\\nName: {{ $json.user_name }}\\nTemperament: {{ $json.profile.temperament || 'Unknown' }}\\nCollision Pattern: {{ JSON.stringify($json.profile.collision_patterns) || 'Unknown' }}\\nCurrent Day: {{ $json.profile.current_day || 0 }}\\n\\n### Practice Metrics:\\n- Completion Rate: {{ Math.round($json.metrics.completion_rate * 100) }}%\\n- Current Streak: {{ $json.metrics.current_streak }} days\\n- Longest Streak: {{ $json.metrics.longest_streak }} days\\n- Total Practices: {{ $json.metrics.total_practices }}\\n\\n### Recent Daily Practices (Last 30 Days):\\n{{ JSON.stringify($json.practices.slice(0, 10), null, 2) }}\\n\\n## YOUR TASK:\\n\\nGenerate a {{ $json.report_type.replace('_', ' ') }} report for {{ $json.user_name }}. Use your forensic behavioral analysis capabilities to:\\n\\n1. **Pattern Analysis** - Identify behavioral patterns from practice data\\n2. **Progress Assessment** - Evaluate their transformation journey progress\\n3. **Actionable Insights** - Provide specific recommendations\\n\\n## OUTPUT FORMAT:\\n\\nReturn ONLY a valid JSON object (no markdown, no code blocks) with this structure:\\n{\\n  \\\"title\\\": \\\"Compelling insight title\\\",\\n  \\\"summary\\\": \\\"2-3 sentence executive summary\\\",\\n  \\\"sections\\\": [\\n    {\\n      \\\"title\\\": \\\"Section title\\\",\\n      \\\"content\\\": \\\"Detailed insight content\\\",\\n      \\\"type\\\": \\\"insight\\\"\\n    }\\n  ],\\n  \\\"metrics\\\": {\\n    \\\"completion_rate\\\": {{ $json.metrics.completion_rate }},\\n    \\\"current_streak\\\": {{ $json.metrics.current_streak }}\\n  },\\n  \\\"recommendations\\\": [\\\"Action item 1\\\", \\\"Action item 2\\\"],\\n  \\\"priority\\\": \\\"normal\\\",\\n  \\\"confidence_score\\\": 0.85\\n}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "claude-generate",
      "name": "Claude: Generate Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude response and prepare for Supabase\nconst claudeResponse = $input.item.json;\nconst userData = $('Combine User Data').item.json;\nlet reportContent;\n\ntry {\n  // Extract content from Claude API response structure\n  const content = claudeResponse.content?.[0]?.text || claudeResponse.text || '';\n  \n  // Try to parse JSON - remove any markdown code blocks if present\n  let cleanContent = content.trim();\n  if (cleanContent.startsWith('```')) {\n    cleanContent = cleanContent.replace(/^```json?\\n?/, '').replace(/\\n?```$/, '');\n  }\n  \n  reportContent = JSON.parse(cleanContent);\n} catch (e) {\n  // If parsing fails, create a structured report from raw text\n  const rawText = claudeResponse.content?.[0]?.text || claudeResponse.text || String(claudeResponse);\n  reportContent = {\n    title: `${userData.report_type.replace('_', ' ')} Report for ${userData.user_name}`,\n    summary: \"AI-generated behavioral analysis report.\",\n    sections: [{\n      title: \"Analysis\",\n      content: rawText,\n      type: \"insight\"\n    }],\n    metrics: userData.metrics,\n    recommendations: [],\n    priority: \"normal\",\n    confidence_score: 0.75\n  };\n}\n\nreturn {\n  json: {\n    user_id: userData.user_id,\n    report_type: userData.report_type,\n    title: reportContent.title || `Report for ${userData.user_name}`,\n    summary: reportContent.summary || 'AI-generated behavioral analysis',\n    content: reportContent,\n    priority: reportContent.priority || 'normal',\n    confidence_score: reportContent.confidence_score || 0.8,\n    source: 'n8n',\n    source_workflow_id: 'MIO-Report-Generator-v3',\n    display_status: 'unread',\n    pinned: false\n  }\n};"
      },
      "id": "parse-response",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hpyodaugrkctagkrfofj.supabase.co/rest/v1/mio_user_reports",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhweW9kYXVncmtjdGFna3Jmb2ZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODc4NjYyMiwiZXhwIjoyMDc0MzYyNjIyfQ.wRAsxPF9-mnl_O6nfK_9yog5IopYN42-bUd1ymLtVBQ"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhweW9kYXVncmtjdGFna3Jmb2ZqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODc4NjYyMiwiZXhwIjoyMDc0MzYyNjIyfQ.wRAsxPF9-mnl_O6nfK_9yog5IopYN42-bUd1ymLtVBQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "save-report",
      "name": "Save Report to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300]
    },
    {
      "parameters": {},
      "id": "done",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1980, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract User IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User IDs": {
      "main": [
        [
          {
            "node": "Loop: For Each User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop: For Each User": {
      "main": [
        [
          {
            "node": "Load User Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Daily Practices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Load Practice Streaks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load User Profile": {
      "main": [
        [
          {
            "node": "Combine User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Daily Practices": {
      "main": [
        []
      ]
    },
    "Load Practice Streaks": {
      "main": [
        []
      ]
    },
    "Combine User Data": {
      "main": [
        [
          {
            "node": "Claude: Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude: Generate Report": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Save Report to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Report to Supabase": {
      "main": [
        [
          {
            "node": "Loop: For Each User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
